.advantages {
  text-transform: uppercase;
  text-align: center;
}

.advantages-title__wrapper {
  padding: 32px 25px 0 25px;
}

.advantages-title {
  text-transform: uppercase;
  text-align: center;
  font-size: $titleMobile;
  line-height: 26px;

  @media screen and (min-width: $widthTablet) {
    font-size: $titleTablet;
  }
}

.advantages-subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: $subtitleMobile;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: $widthTablet) {
    font-size: $subtitleMobile;
  }
}

.header-item__triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: $widthTablet) {
    display: none;
  }
}

@media screen and (min-width: $widthTablet) {
  .header-item__wrapper {
    display: grid;
    grid-template-columns: 256px 1fr;
  }

  .header-item__wrapper__revers {
    grid-template-columns: 1fr 256px;
  }

  .header-item__wrapper__revers .header-item {
    order: 2;
  }
}

.header-item {
  background-color: $bluegrey;
  color: #ffffff;
  padding: 39px 12px 39px 12px;
  position: relative;

  @media screen and (min-width: $widthTablet) {
    padding: 39px $paddingTablet;
  }
}

.header-item__large {
  padding-top: 60px;

  @media screen and (min-width: $widthTablet) {
    padding-top: 39px;
  }
}

.advantages__title {
  font-size: $titleMobile;
  line-height: 26px;
  margin-bottom: 15px;

  @media screen and (min-width: $widthTablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advantages__number {
  margin-bottom: 20px;
}

.header-item__img {
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-item__img {
  background-image: url("../img/mobile_photo-city@1x\ 1.png");
}

.two-item__img {
  background-image: url("../img/photo-bridge@1x\ 1.png");
}

.sub-advantages {
  padding: $paddingMobile;
  text-align: left;

  @media screen and (min-width: $widthTablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: $widthTablet) {
  .order__2 {
    order: 2;
  }
}

.sub-advantages__title {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  padding-left: 50px;

  @media screen and (min-width: $widthTablet) {
    text-align: center;
    padding-top: 100px;
    padding-left: 0;
    margin-top: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    @media screen and (min-width: $widthTablet) {
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }
}

.icon-house::before {
  background-image: url("../img/icon-house.svg.svg");
  width: 39px;
  height: 36.83px;

  @media screen and (min-width: $widthTablet) {
    width: 75px;
    height: 75px;
  }
}

.icon-play::before {
  background-image: url("../img/icon-gift.svg.svg");
  width: 32px;
  height: 38px;

  @media screen and (min-width: $widthTablet) {
    width: 64px;
    height: 75px;
  }
}

.icon-eat::before {
  background-image: url("../img/icon-burger.svg.svg");
  width: 40px;
  height: 34.9px;

  @media screen and (min-width: $widthTablet) {
    width: 76px;
    height: 75px;
  }
}

.sub-advantages__content {
  padding-left: 50px;
  font-size: 14px;

  @media screen and (min-width: $widthTablet) {
    text-align: center;
    padding-left: 0;
  }
}

.small_item {
  padding-left: $paddingMobile;
  padding-right: $paddingMobile;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #e7e7e5;
  border-bottom: 1px solid #d6d6d6;
  font-size: $subtitleMobile;

  @media (min-width: $widthTablet) {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $widthTablet) {
  .small_item__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
