.advantages {
  text-transform: uppercase;
  text-align: center;
}

.advantages__wrapper__title {
  padding: 32px 25px 0 25px;

  @media (min-width: $widthTablet) {
    padding-top: 43px;
  }

  @media (min-width: $widthDesktop) {
    padding-top: 55px;
  }
}

.advantages__list {
  background-position: top;
  background-image: url("../img/white_triangle.svg");
  background-size: cover;
}

.advantages__main__title {
  text-transform: uppercase;
  text-align: center;
  font-size: $titleMobile;
  line-height: 26px;

  @media screen and (min-width: $widthTablet) {
    font-size: $titleTablet;
  }
}

.advantages-subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: $subtitleMobile;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: $widthTablet) {
    font-size: $subtitleMobile;
  }
}

@media screen and (min-width: $widthTablet) {
  .advantages__item__wrapper {
    display: grid;
    grid-template-columns: 256px 1fr;
    background-image: none;
  }

  .advantages__item__wrapper__revers {
    grid-template-columns: 1fr 256px;
  }

  .advantages__item__wrapper__revers .header-item {
    order: 2;
  }
}

.header-item {
  background-color: $bluegrey;
  color: #ffffff;
  padding: 39px 12px 39px 12px;
  position: relative;

  @media screen and (min-width: $widthTablet) {
    padding: 39px $paddingTablet;
  }
}

.header-item--large {
  padding-top: 60px;
  background-position: top;
  background-image: url("../img/white_triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 500px) {
    background-image: none;
  }

  @media screen and (min-width: $widthTablet) {
    padding-top: 39px;
  }
}

.advantages__title {
  font-size: $titleMobile;
  line-height: 26px;
  margin-bottom: 15px;

  @media screen and (min-width: $widthTablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advantages__number {
  margin-bottom: 20px;
}

.advantages__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__item--small {
  padding-left: $paddingMobile;
  padding-right: $paddingMobile;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #e7e7e5;
  border-bottom: 1px solid #d6d6d6;
  font-size: $subtitleMobile;

  @media (min-width: $widthTablet) {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $widthTablet) {
  .advantages__wrapper__item-small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
