.catalog {
  padding-top: 28px;
  padding-left: $paddingMobile;
  padding-right: $paddingMobile;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $widthTablet) {
    padding-top: 60px;
  }

  @media (min-width: $widthDesktop) {
    padding-top: 100px;
  }
}

.catalog__title {
  @media (min-width: $widthTablet) {
    font-size: 30px;
  }
}

.catalog__subtitle {
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;

  @media (min-width: $widthTablet) {
    margin-top: 27px;
    margin-bottom: 70px;
  }
}
