.catalog-info {
  padding-top: 31px;
  padding-left: $paddingMobile;
  padding-right: $paddingMobile;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $widthTablet) {
    padding-top: 65px;
  }

  @media (min-width: $widthDesktop) {
    padding-top: 104px;
  }
}
