.fieldset {
  border: none;
  border-top: 1px solid #e5e5e5;
  padding: 25px $paddingMobile;

  @media (min-width: $widthTablet) {
    padding: 25px $paddingTabletForm;
    border-top: none;
  }

  @media (min-width: $widthDesktop) {
    padding-left: $paddingDesktopForm;
    padding-right: $paddingDesktopForm;
  }
}

.fieldset__label {
  display: block;
}

.fieldset__input {
  display: block;
  width: 100%;
  height: 58px;
  background-color: $inputBackground;
  padding: 18px 0 14px 22px;
  margin-top: 16px;
}

.fieldset__input::placeholder {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.fieldset__input__name {
  margin-left: 20px;
}

.fieldset__label__wrapper {
  display: flex;
  align-items: center;
}

.fieldset__label__wrapper span {
  display: block;
}

.fieldset__radio-label {
  display: flex;
  justify-content: flex-start;
}

.fieldset__checkbox-label {
  display: flex;
}

.fieldset__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.fieldset__label--male,
.fieldset__label--phone {
  position: relative;
  display: block;
}

.fieldset__title--contact {
  text-align: left;

  @media (min-width: $widthTablet) {
    text-align: center;
  }
}

.fieldset__title--name {
  @media (min-width: $widthTablet) {
    text-align: left;
  }
}

.fieldset__title--impression {
  text-align: left;
}

.fieldset__label--male::after,
.fieldset__label--phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.fieldset__label--phone::after {
  background-image: url("../img/phone.svg.svg");
}

.fieldset__label--male::after {
  background-image: url("../img/mail.svg.svg");
}

.fieldset__radio {
  display: none;
}

.fieldset__radio-label__name {
  display: inline-flex;
  position: relative;
  height: 82px;
  line-height: 82px;
  font-weight: bold;
  padding-left: 51px;
  font-size: 18px;
}

.fieldset__label__name {
  font-size: 14px;
  text-transform: uppercase;
}

.fieldset__radio-label > span::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #f2f2f2;
  border: 13px solid $inputBackground;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.fieldset__checkbox {
  display: none;
}

.fieldset__checkbox-label__name {
  position: relative;
  height: 72px;
  padding-left: 80px;
  font-weight: bold;
  line-height: 72px;
}

.fieldset__checkbox-label__name::before {
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 5px;
  background-color: $inputBackground;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
}

.fieldset__checkbox:checked + .fieldset__checkbox-label__name::before {
  background-image: url("../img/tick.svg.svg");
}

.fieldset__textarea {
  border: none;
  resize: none;
  background-color: $inputBackground;
  width: 100%;
  min-height: 160px;
}

.fieldset__input:hover {
  background-color: $inputBackHover;
}

.fieldset__input:focus {
  background-color: #ffffff;
  border: 4px solid $inputBackHover;
}

/*стили для не отмеченных радиобатонов*/
.fieldset__radio-label:hover .fieldset__radio-label__name::before {
  border-color: $inputBackHover;
  background-color: $inputBackHover;
}

.fieldset__radio-label:focus .fieldset__radio-label__name::before {
  border-color: $inputBackFocus;
  background-color: $inputBackFocus;
}

/*стили для отмеченного радиобатонов*/
.fieldset__radio:checked ~ .fieldset__radio-label__name::before {
  border-color: $inputBack;
  background-color: #333333;
}

.fieldset__radio-label:hover .fieldset__radio:checked ~ .fieldset__radio-label__name::before {
  border-color: $inputBackHover;
  background-color: #333333;
}

.fieldset__radio-label:focus .fieldset__radio:checked ~ .fieldset__radio-label__name::before {
  background-color: #a4a4a4;
}

@media (min-width: $widthTablet) {
  .fieldset--user-contact {
    grid-column: span 2;
  }

  .fieldset--textarea-group {
    grid-column: span 2;
  }

  .fieldset--radio-group {
    order: -1;
    position: relative;
  }

  .fieldset--checkbox-group {
    grid-column: span 2;
  }

  .fieldset__title--border {
    position: relative;
  }

  .fieldset__title--border::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 123px;
    left: 0;
    background-color: #dbdbdb;
    top: 50%;
    transform: translateY(-50%);
  }

  .fieldset__title--border::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 123px;
    right: 0;
    background-color: #dbdbdb;
    top: 50%;
    transform: translateY(-50%);
  }

  .fieldset--radio-group::after {
    content: "";
    position: absolute;
    height: 292px;
    width: 1px;
    background-color: #dbdbdb;
    right: 0;
    top: 25px;
  }
}

@media (min-width: $widthDesktop) {
  .fieldset__title--border::before {
    width: 280px;
  }

  .fieldset__title--border::after {
    width: 280px;
  }
}
