.page-footer__contacts {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.social__list {
  display: flex;
  width: 151px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-bottom: 45px;
}

.social__item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $bluegrey;
  background-repeat: no-repeat;
  background-position: center;
}

.social__item:nth-child(1) {
  background-image: url("../img/icon-twitter.svg.svg");
}

.social__item:nth-child(2) {
  background-image: url("../img/icon-facebook.svg.svg");
}

.social__item:nth-child(3) {
  background-image: url("../img/icon-youtube.svg.svg");
}

.copyright__text {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 126px;
  position: relative;
}

.copyright__text::after {
  content: "";
  position: absolute;
  width: 26.9px;
  height: 34.1px;
  background-image: url("../img/htmlacademy.svg.svg");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
