.page-header {
  position: relative;
  font-size: $titleMobile;
  display: flex;
  flex-direction: column;
}

.page-header__link {
  text-align: center;
}

.page-header__logo {
  z-index: 5;
  position: absolute;
  transform: translateX(-50%);
}

@media (max-width: $widthMobileOnly) {
  .page-header__link {
    position: relative;
    order: 2;
    height: 55px;
  }
}
