.page-main__poster {
  background-image: url("../img/intro-triangle.svg"), url("../img/back_mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  min-height: 390px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 90px;
  background-color: $bluegrey;
  position: relative;
  background-position: bottom, center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"), url("../img/back_mobile@2x.jpg");
  }

  @media screen and (min-width: $widthTablet) {
    background-image: url("../img/triangle_poster_tablet.svg"), url("../img/back_tablet@1x.jpg");
    padding-top: 77px;
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_poster_tablet.svg"), url("../img/back_tablet@2x.jpg");
    }
  }

  @media screen and (min-width: $widthDesktop) {
    background-image: url("../img/triangle_poster_desktop.svg"), url("../img/back_desktop@1x.jpg");
    padding-top: 77px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_poster_desktop.svg"), url("../img/back_desktop@2x.jpg");
    }
  }
}

.page-main__poster--small {
  min-height: 158px;
  padding-top: 50px;
  background-image: url("../img/intro-triangle.svg"), url("../img/back_small_mobile@1x.jpg");
  background-position: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"), url("../img/back_small_mobile@2x.jpg");
  }


  @media (min-width: $widthTablet) {
    background-image: url("../img/triangle_poster_tablet.svg"), url("../img/back_small_tablet@1x.jpg");
    min-height: 290px;
    padding-top: 95px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_poster_tablet.svg"), url("../img/back_small_tablet@2x.jpg");
    }
  }

  @media (min-width: $widthDesktop) {
    background-image: url("../img/triangle_poster_desktop.svg"), url("../img/back_small_desktop@1x.jpg");
    padding-top: 100px;
    min-height: 300px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_poster_desktop.svg"), url("../img/back_small_desktop@2x.jpg");
    }
  }
}

.page-main__title {
  margin-left: auto;
  margin-right: auto;
  display: block;

  @media screen and (min-width: $widthTablet) {
    width: 461px;
    height: 349.97px;
  }

  @media screen and (min-width: $widthDesktop) {
    width: 459.5px;
    height: 349.97px;
  }
}

.page-main__poster--small .page-main__title {
  @media (min-width: $widthTablet) {
    width: 456.9px;
    height: 77.6px;
  }
}

.page-main__button {
  display: block;
  min-height: 57px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bluegrey;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 57px;

  @media (min-width: $widthTablet) {
    width: 458px;
  }
}

.page-main__button:hover {
  background-color: #669ec0;
}

.page-main__button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.page-main__button:disabled {
  background-color: #e5e5e5;
}

.page-main__form {
  padding: $paddingMobile;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 767px) {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $widthDesktop) {
    padding-top: 15px;
    margin-bottom: 45px;
  }
}

.page-main__form__title {
  font-size: 21px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media (min-width: $widthTablet) {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.page-main__form__info {
  font-size: $subtitleMobile;
  text-transform: uppercase;
  line-height: $MobileLineheight;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $widthTablet) {
    margin-bottom: 36px;

    & span {
      display: block;
    }
  }

  @media (min-width: $widthDesktop) {
    margin-bottom: 42px;
  }
}

.page-main__map__img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Стили для всех заголовков страниц*/

.page-main-title {
  text-transform: uppercase;
  text-align: center;
  font-size: $titleMobile;
  line-height: 26px;
  font-weight: 700;

  @media screen and (min-width: $widthTablet) {
    font-size: $titleTablet;
  }
}

.page-main-subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: $subtitleMobile;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: $widthTablet) {
    font-size: $subtitleMobile;
  }
}

.page-main__iframe {
  width: 100%;
  border: none;
}

