.review {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $widthTablet) {
    padding-top: 60px;
  }

  @media (min-width: $widthDesktop) {
    padding-top: 110px;
  }
}


.review__title__wrapper {
  border-bottom: 1px solid #e5e5e5;
}

.review__title {
  margin-bottom: 25px;

  @media (min-width: $widthTablet) {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.review__subtitle {
  max-width: 434px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  color: #333333;

  @media (min-width: $widthTablet) {
    margin-bottom: 60px;
  }

  @media (min-width: $widthDesktop) {
    margin-bottom: 30px;
  }
}
