.sub-advantages {
  padding: $paddingMobile;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 36px;

  @media screen and (min-width: $widthTablet) {
    display: grid;
    grid-template-columns: 185px 155px 193px;
    gap: 85px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  @media (min-width: $widthDesktop) {
    padding-left: 30px;
    padding-bottom: 82px;
    gap: 110px;
    grid-template-columns: 282px 300px 275px;
  }
}

@media screen and (min-width: $widthTablet) {
  .order-2 {
    order: 2;
  }
}

.sub-advantages__title {
  margin-top: 23px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 50px;

  @media screen and (min-width: $widthTablet) {
    text-align: center;
    padding-top: 100px;
    padding-left: 0;
    margin-top: 40px;
    font-size: 21px;
    margin-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    @media screen and (min-width: $widthTablet) {
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }
}

.icon-house::before {
  background-image: url("../img/icon-house.svg.svg");
  width: 39px;
  height: 36.83px;

  @media screen and (min-width: $widthTablet) {
    width: 75px;
    height: 75px;
  }
}

.icon-play::before {
  background-image: url("../img/icon-gift.svg.svg");
  width: 32px;
  height: 38px;

  @media screen and (min-width: $widthTablet) {
    width: 64px;
    height: 75px;
  }
}

.icon-eat::before {
  background-image: url("../img/icon-burger.svg.svg");
  width: 40px;
  height: 34.9px;

  @media screen and (min-width: $widthTablet) {
    width: 76px;
    height: 75px;
  }
}

.sub-advantages__content {
  padding-left: 50px;
  font-size: 14px;
  line-height: 21px;

  @media screen and (min-width: $widthTablet) {
    text-align: center;
    padding-left: 0;
  }

  @media (min-width: $widthDesktop) {
    & span {
      display: block;
    }
  }
}
