$bluegrey: #81b3d2;

$titleMobile: 18px;
$titleTablet: 21px;

$subtitleMobile: 14px;
$MobileLineheight: 24px;

$paddingMobile: 20px;
$paddingTablet: 30px;
$paddingDesktop: 60px;

$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1200px;
$widthMobileOnly: 767px;
