
$titleMobile: 18px;
$titleTablet: 21px;

$subtitleMobile: 14px;
$MobileLineheight: 24px;

$paddingMobile: 20px;
$paddingTablet: 30px;
$paddingTabletForm: 60px;
$paddingDesktop: 60px;
$paddingDesktopForm: 120px;
$paddingTabletCatalog: 60px;

$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1200px;
$widthMobileOnly: 767px;

$inputBackground: #f2f2f2;
$inputHover: #e5e5e5;
$inputDown: #d5d5d5;

$bluegrey: #81b3d2;
$bluButtonHover: #669ec0;
$bluButtonDown: #5496bd;

$inputBack: #f2f2f2;
$inputBackHover: #e5e5e5;
$inputBackFocus: #d5d5d5;
