.video {
  position: relative;
  margin-bottom: 105px;

  @media (min-width: $widthTablet) {
    margin-left: auto;
    margin-right: auto;
    width: 648px;
    margin-bottom: 20px;
  }

  @media (min-width: $widthDesktop) {
    width: 800px;
    margin-bottom: 65px;
  }
}

.video__title {
  padding-top: 32px;
  padding-bottom: 25px;

  @media (min-width: $widthTablet) {
    font-size: 30px;
    padding-top: 57px;
    padding-bottom: 30px;
  }

  @media (min-width: $widthDesktop) {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}

.video__subtitle {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
  margin-top: 0;

  @media (min-width: $widthTablet) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  @media (min-width: $widthDesktop) {
    margin-bottom: 75px;
  }
}

.video__item {
  display: block;
  min-height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/video-mobile@1x.jpg");
  margin-left: auto;
  margin-right: auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $widthTablet) {
    width: 648px;
    height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $widthDesktop) {
    width: 800px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.video__controls-panel {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: -66px;

  @media (min-width: $widthTablet) {
    bottom: 0;
    padding: 0;
  }
}

.video__range {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 46px;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;

  @media (min-width: $widthTablet) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    width: 600px;
    padding-left: 90px;
    padding-right: 120px;
  }
}

.video__bar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  position: relative;
}

.video__runner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $widthTablet) {
    left: 30%;
  }
}

.video__button__inner {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 15px 20px 15px;
  display: flex;

  @media (min-width: $widthTablet) {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px;
  }
}

.video__button {
  color: #5c6870;
  display: block;

  @media (min-width: $widthTablet) {
    color: #ffffff;
    z-index: 5;
  }
}

.video__button:hover {
  color: #333333;

  @media (min-width: $widthTablet) {
    color: #ffffff;
    opacity: 0.4;
  }
}

.video__button:focus {
  color: rgba(51, 51, 51, 0.3);

  @media (min-width: $widthTablet) {
    color: #ffffff;
    opacity: 0.7;
  }
}

.video__cc {
  margin-left: auto;
}

.video__scale {
  margin-left: 20px;
}
